:root{
--fondo: rgb(10, 2, 2);
--color1: white;
--color2:  #00000080;
--color3: #daa055;


}
h1{
    font-size: 48px;
    color: var(--color3);
}

h2{
    font-size: 36px;
    color: var(--color3)
    
}


body {
    
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    margin: 0;
    
}

header {
    height: 70px;
    position:static;
    width: 100%;
    top: 0;
    z-index: 1000; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color:var(--color2); 
    
}
.header a {
    color:var(--color3)
}
.left-section {
    display: flex;
    font-size: 20px;
    padding: 5px;
}

.right-section {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

main {
    flex: 1;

}

footer {
    text-align: center;
    background-color: var(--color2);
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 0 15px;
    color: var(--color3);
    text-decoration: none;
}


th {
   color: white;
}

tr {
    color: white;
}

.asd-container{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    
}

.log-reg{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.asd-container form, #asd-container p {
    margin-bottom: 20px;
}

.icon-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
}

#icono {
    width: 100%;
    height: 100%;
}

#icono:hover {
    animation: play 1s infinite;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}

@keyframes play {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.descargas {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .header { 
        width: 90%;
    }
   
    #titulo {
        width: 75%;
        font-size: 24px;
    }

    #clases img, #batallas img {
        width: 400px; 
        height: 800px;
    }
    
    #clases img, #clases img {
        width: 200px; 
        height: 400px;
    }
    
    #batalla img, #batallas img {
        width: 200px;
        height: 100px;
    }
    #videoPromo video {
        width: 100%; 
    }

    #banner{
        width: 100%;
        
    }

    body, p, h2 {
        font-size: 16px; /* Tamaño de fuente más pequeño para el texto del cuerpo y subtítulos en dispositivos móviles */
    }

    h1{
        font-size: 20px;
    }

    nav ul li a {
        font-size: 8px;
        padding: 1px;
    }
}